.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2a2c2b; /* Cor de fundo escura */
  color: #f5f4f2; /* Cor da fonte principal clara */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
}


.navbar-logo {
  height: 40px; /* Ajuste a altura da sua logo conforme necessário */
  width: auto;
}

.navbar-links {
  display: flex;
  gap: 0.5rem; /* Reduzindo um pouco o espaçamento para a caixa */
}

.navbar-link {
  color: #ebebeb; /* Cor dos links */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem; /* Adiciona padding para a área clicável e para a caixa */
  border-radius: 8px; /* Cantos arredondados */
  transition: all 0.3s ease-in-out; /* Transição suave */
  align-items: center;
  justify-items: center;
}

.navbar-link:hover {
  background-color: #2e2e2e; /* Cor de fundo mais clara no hover */
  color: #4f23bf; /* Cor do texto no hover */
}

.navbar-link-active {
  background-color: #4f23bf; /* Cor de fundo da caixa quando ativo */
  color: #f5f4f2; /* Cor do texto quando ativo */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  align-items: center;
  justify-items: center;
  /* Não aplica hover neste, pois ele já é o ativo.
     Se quiser um efeito diferente ao passar o mouse sobre o item ATIVO, adicione:
     &.navbar-link-active:hover { ... }
  */
}